/* ---------------------------------------------- */
/* 추가 reset                                            */
/* ---------------------------------------------- */
p,
ul {
  margin: 0;
}

/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
.header {
  width: 100%;
  height: 116px;
  border-bottom: 1px solid var(--color-gray-100);
}

.header__inner {
  width: 1020px;
  height: 116px;
  margin: 0 auto;
}

.button--category {
  width: 110px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-600);
  border: 0;
}

.button--category > span {
  margin-top: 12px;
  font: var(--text-regular-12);
  color: var(--color-white);
}

.button--category:focus {
  outline: none;
  box-shadow: 1px 1px 2px var(--color-opacity-20);
  border: 1px solid var(--color-red-500);
  border-radius: 5px;
}

/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

.navigation {
  width: 1020px;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: none;
  display: block;
}

.navigation.is--active {
  display: block;
}

.navigation__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 500px;
  height: auto;
}

.depth--container {
  width: 180px;
  height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 4px 4px var(--color-opacity-20);
  background-color: var(--color-white);
  list-style: none;
  display: none; /* 테스트할 땐 주석처리하기 */
}

.depth1 {
  /* Level 1 */
}

.depth2 {
  position: absolute;
  top: 0px;
  left: 100%;
}

.depth3 {
  position: absolute;
  top: -1px;
  left: 100%;
}

.list--menu {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 5px;
  padding-left: 25px;
  font: var(--text-regular-12);
  color: var(--color-black);
}

.list--menu > i {
  padding-top: 1px;
}

.list--menu:hover,
.list--menu:focus {
  font-weight: var(--bold);
  color: var(--color-blue-600);
  background-image: url('../../assets/icon/more-right-active.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation.is--active .navigation__list,
.depth2.is--active,
.depth3.is--active {
  display: flex;
}

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
  /* 나중에 아래 길이 제거 */
  /* min-height: 20rem; */
}

/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
.footer {
  width: 100%;
  height: auto;
}

.footer--guide {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-200);
  list-style: none;
}

.footer--guide > li {
  display: flex;
  align-items: center;
  color: var(--color-gray-800);
}

.footer--guide--item {
  padding: 5px 14px;
}

.divider {
}

/* 마지막 요소의 divider 숨기기 */
.footer--guide > li:last-of-type > .divider {
  display: none;
}

/*  */
.footer--info {
  width: 100%;
  height: 207px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.info--container {
  width: 1200px;
  height: 143px;
  display: flex;
  justify-content: space-between;
}

.info--logo {
  width: 176px;
  height: 40px;
  background-image: url('../../assets/logo/logo-mono.svg');
  background-size: contain;
}

.info--business {
  width: auto;
  height: 143px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info--business > p {
  font: var(--text-regular-16);
}

/*  */
.info--customer_center {
  width: 293px;
  width: auto;
  height: 143px;
  display: flex;
  flex-direction: column;
  font: var(--text-regular-16);
  color: var(--color-gray-800);
}

.info--customer_center > p {
  margin-bottom: 8px;
}

.info--customer_center--title::after {
  content: '';
  display: inline-block;
  height: 12px;
  margin: 0 14px;
  border-right: 1px solid var(--color-gray-800);
}

.customer_center--tel {
  margin-bottom: 12px;
  font-size: 48px;
}

/*  */
.info--payment_guarantee {
  width: 282px;
  height: 84px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font: var(--text-regular-16);
  color: var(--color-gray-800);
}

/*  */
.footer--sns {
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-900);
}

.sns--group {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.copyright {
  font: var(--text-light-12);
  color: var(--color-white);
}

.sns--container {
  width: 122px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

/* instagramBackground */
.sns--instagram {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: linear-gradient(
    174.12deg,
    #285aeb 5.61%,
    #bc1888 22.32%,
    #cc2366 36.16%,
    #dc2743 51.91%,
    #e6683c 73.38%,
    #f09433 91.99%
  );
}

.bold {
  font-weight: var(--bold);
}
