/* 카테고리별 추천 광고상품 */
#wrap {
  width: 1022px;
  height: auto;
  margin: 0 auto;
  padding-top: 100px;
}

.logo {
  margin-bottom: 48px;
}

/* section 영역 */
.section--header {
  margin-bottom: 24px;
}

.section--header--subtitle {
  display: block;
}

.category {
  width: 100%;
  height: 634px;
  display: flex;
  border-top: 2px solid;
  border-bottom: 1px solid;
}

.category:nth-of-type(n + 2) {
  margin-top: 24px;
}

/* 카테고리 좌측 */
.category--left {
  width: 174px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 24px;
  padding-top: 0px;
}

.category--left--top {
  margin-top: 48px;
}

.left--top--header {
  margin-bottom: 8px;
}

.left--top--shortcut {
  display: inline-block;
  color: var(--color-gray-700);
}

.shortcut--direct {
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 4px;
  background-image: url('../../assets/icon/angle-right-default.svg');
  background-repeat: no-repeat;
}

.category--left--bottom {
  display: flex;
  flex-direction: column;
}

.hot-keyword {
  margin-bottom: 20px;
  font: var(--title-medium-18);
}

.hashtag {
  display: inline-block;
  padding: 6px 10px;
  font-size: 12px;
  border: 1px solid var(--color-gray-400);
  font: var(--text-regular-12);
}

.hashtag:nth-child(n + 2) {
  margin-top: 12px;
}

.hashtag > a::before {
  content: '#';
}

/* 카테고리 중앙 */
.category--center {
  width: 320px;
  height: 100%;
  position: relative;
}

.center--carousel {
  width: 200%;
  height: 100%;
  overflow: hidden;
  list-style: none;
}

.carousel--item {
  display: none;
  position: relative;
}

.carousel--item.is__selected {
  display: inline-block;
}

.center--slide--banner {
  position: absolute;
  left: 30px;
  bottom: 58px;
  width: 260px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--color-white);
}

.banner-large {
  font: var(--text-bold-18);
}

.banner-small {
  font: var(--text-regular-14);
}

.center--slide--indicator {
  position: absolute;
  left: 50%;
  bottom: 22px;
  transform: translateX(-50%);
  width: 32px;
  height: 12px;
  display: flex;
  justify-content: space-between;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-gray-600);
}

.indicator.active {
  background-color: var(--color-gray-700);
}

/* 카테고리 우측 */
.category--right {
  width: 528px;
  height: 100%;
}

.category--right--top {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.category--right--top::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-600);
}

.category--right--bottom {
  width: 100%;
  height: 50%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.item--box {
  display: inline-block;
  width: 160px;
  height: 100%;
}

.item--box--img {
  margin-bottom: 12px;
}

.item--box--name {
  margin-bottom: 12px;
  font: var(--text-regular-14);
}

.item--box--discount {
  margin-bottom: 4px;
  font: var(--text-regular-14);
  color: var(--color-red-500);
}

.item--box--price {
  font: var(--text-regular-14);
}

.item--box--price > strong {
  font: var(--text-bold-18);
}

.item--box--price > strong::after {
  content: ' ';
}

.rocket {
  margin-left: 6px;
}

/* 색상 class */
.color-blue {
  color: var(--color-blue-600);
}

.color-brown {
  color: var(--color-brown-300);
}

.color-green {
  color: var(--color-green-700);
}

.background-brown {
  background-color: var(--color-brown-300);
}

.background-green {
  background-color: var(--color-green-700);
}

.border-brown {
  border-color: var(--color-brown-300);
}

.border-green {
  border-color: var(--color-green-700);
}

/* 폰트 class */

.font-title-medium-16 {
  font: var(--title-medium-16);
}

.font-title-medium-18 {
  font: var(--title-medium-18);
}

.font-title-medium-24 {
  font: var(--title-medium-24);
}

.font-title-bold-24 {
  font: var(--title-bold-24);
}

.font-text-regular-12 {
  font: var(--text-regular-12);
}

.font-text-regular-14 {
  font: var(--text-regular-14);
}

.font-text-bold-14 {
  font: var(--text-bold-14);
}

.font-text-bold-18 {
  font: var(--text-bold-18);
}
