/* CSS 작성 */
/* BEM 방법론으로 이름 짓기 */
#wrap {
  width: 1020px;
  height: auto;
  margin: 0 auto;
  padding: 100px 0px;
}

/* header */
.wrap--header {
  margin-bottom: 48px;
}

/* section */
.section {
  height: auto;
}

/* section header */
.section--header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: var(--gray-600);
  font: var(--title-medium-16);
}

.section--header--title {
  font: var(--title-medium-24);
  color: var(--black);
}

/* sectin items */
.section--container {
  height: auto;
}

.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}

.item {
  width: 243px;
  height: 310px;
  padding: 14px 22px 14px 21px;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  border: 1px solid var(--gray-500);
  position: relative;
}

.item-large {
  width: 502px;
  height: 310px;
  padding: 20px 28px;
}

.item-margin-right-0 {
  margin-right: 0;
}

.item:focus,
.item:hover {
  outline: none;
  border: 1px solid var(--blue-600);
  transition: border 0.3s linear;
}

.item--btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 42px;
  height: 42px;
  font-size: 12px;
  background-color: var(--gray-500);
  color: var(--white);
  transition: backgroud-color, width 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item:focus .item--btn::before,
.item:hover .item--btn::before {
  content: '구매하기';
}

.item:hover .item--btn,
.item:focus .item--btn {
  background-color: var(--blue-600);
  width: 112px;
}
